*,html{
    margin: 0;
    display: flexbox;
    overflow-x: hidden
}

body{
    margin: 0;
    display: flexbox;
    background: url(asset/photos/bg.jpg)
}

.material-symbols-outlined{
    color: white;
    background-color: transparent;
    border: none;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
}


.content{
    position:relative;
    display:flexbox;
    margin-left: 13.5vh;
    margin-bottom: 20px;
    align-content: center;    
    text-align: center;
    margin-right: 3vh;
}

li{
    list-style: none;
    
}

.tittle{
    position:absolute;
    width: 100%;
    margin-bottom: 25px;
    border-radius: 7.5px;
    margin-top: 5px;
    background-color: rgba(192,192,192,0.4);
}

.navbar{
    position:absolute;
    text-align: center;
    left: 0;
    background-color: rgba(192,192,192,0.4);
    height: 100vh;
    width: 10vh;
    align-self: baseline;
}

.material-symbols-outlined:hover{
    color: grey;
    margin: none;
    background-color: transparent;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.img{
    height: 250px;
}

.isi_konten{
    display: flex;
    position:static;
    margin-top: 50px;
    display: flex;
    border: solid black 2px;
}