@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
*,html{
    margin: 0;
    display: flexbox;
    overflow-x: hidden;
    font-family: 'Anton', sans-serif;
    font-family: 'Unbounded', cursive;
}

body{
    margin: 0;
    display: flexbox;
    background: url(asset/photos/bg.jpg)
}

.material-symbols-outlined{
    color: white;
    background-color: transparent;
    border: none;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
}


.content{
    position: relative;
    display: flex;
    margin-left: 6vh;
    margin-bottom: 20px;
    
}

li{
    list-style: none;
    
}

.tittle{
    display: flex;
    position:absolute;
    width: 183vh;
    margin-bottom: 25px;
    border-radius: 7.5px;
    margin-top: 5px;
    background-color: rgba(192,192,192,0.4);
    align-items: center;
    align-content: center;
}


.navbar{
    position:absolute;
    text-align: center;
    left: 0;
    background-color: rgba(192,192,192,0.6);
    height: 100vh;
    width: 10vh;
    align-self: baseline;
}

.material-symbols-outlined:hover{
    color: grey;
    margin: none;
    background-color: transparent;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.img{
    height: 250px;
}

.isi_konten{
    display: flex;
    position:static;
    margin-top: 50px;
    display: flex;
    color: white;
    border-radius: 5px;
    background-color: rgba(192,192,192,0.6)
}
.swiper {
    width: 183vh;
    margin-left: 6vh ;
  } 
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: rgba(192,192,192,0.6);

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  img{
    height: 250px;
}